<div class="row">
    <div class="loading" ng-show="loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div class="input-field col offset-s1 s10" ng-show="loadSuccess">
        <input id="search" type="text" ng-model="searchPlace">
        <label for="search">Search</label>
    </div>
    <div class="col s12">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li ng-repeat="place in places | limitTo:pageSize | filter:searchPlace"
                on-finish-render="ngRepeatFinished">
                <div class="collapsible-header"
                     ng-class="{
                        'pink lighten-5': {{ place.properties.mag | danger }},
                        'lime lighten-5': {{ place.properties.mag | warning }},
                        'green lighten-5': {{ place.properties.mag | safe}},
                     }">{{ place.properties.title }}<span class="badge">{{ place.properties.time | date: 'HH:mm:ss' }}</span></div>
                <div class="collapsible-body">
                    <p>
                        <b>Place:</b> {{ place.properties.place }}<br>
                        <b>Magnititude:</b> {{ place.properties.mag }} {{ place.properties.magType }}<br>
                        <b>Happened time:</b> {{ place.properties.time | date: 'HH:mm:ss MM/dd/yyyy Z' }}<br>
                        <b>Updated time:</b> {{ place.properties.updated | date: 'HH:mm:ss MM/dd/yyyy Z' }}<br>
                        <b>Longitude:</b> {{ place.geometry.coordinates[0] | abs | number:3 }}&deg;{{ place.geometry.coordinates[0] | longitude }}<br>
                        <b>Latitude:</b>  {{ place.geometry.coordinates[1] | abs | number:3 }}&deg;{{ place.geometry.coordinates[1] | latitude }}<br>
                        <b>Depth:</b> {{ place.geometry.coordinates[2] | number:1 }} km<br>
                        <b>Tsunami:</b> {{ place.properties.tsunami | tsunami : "Yes" : "No" }}<br>
                    </p>
                    <p><a href="{{ place.properties.url }}" alt="more details">More details</a></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="col offset-s5 s2 center">
        <button class="btn-large waves-effect" style="width: 100%;" ng-show="loadSuccess" ng-click="showMore()">More</button>
    </div>
</div>
